.mat-table {
  overflow: auto;
  max-height: 600px;
}

.action-column-header,
.action-column {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 20%;
}

.empty-message {
  margin: 10px 0;
  padding: 10px 0;
}

.empty-message h3 {
  margin: 0;
}
